$mat-unicauca: (
  50: #e1e4ea,
  100: #b4bacc,
  200: #828daa,
  300: #505f87,
  400: #2b3c6e,
  500: #051a54,
  600: #04174d,
  700: #041343,
  800: #030f3a,
  900: #010829,
  A100: #636fff,
  A200: #3040ff,
  A400: #0013fc,
  A700: #0011e3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
